{{template "top" .}}
<title>New Pizza Order</title>
</head>
<body class="bg-gradient-to-br from-amber-50 via-orange-50 to-rose-50 min-h-screen">
    <div>
        <p>Order page here.</p>
    </div>
{{template "bottom" .}}